@tailwind base;
@tailwind components;
@tailwind utilities;


body {
   background-color: #1e2125;
   overflow: auto;
}

nav {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   width: 100vw;

}

.background {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   width: 100%;
   background: #f5efe5;
   z-index: 10;
   position: fixed;

}

button {
   outline: none;
   border: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   cursor: pointer;
   position: absolute;
   top: 18px;
   right: 15px;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background: transparent;
   z-index: 15;
   position: fixed;
}

ul,
li {
   margin: 0;
   padding: 0;
}

ul {
   left: 0;
   right: 0;
   margin-left: auto;
   margin-right: auto;
   top: 100px;
   position: fixed;

}

.container-logo {
   background-image: linear-gradient(180deg, #212529 33.81017736486486%, #343A40 180.73638212317918%);

}

.item-logo {
   stroke-linejoin: round;
   stroke-linecap: round;
}

.my-background {
   background-image: linear-gradient(119deg, #212529 33.81017736486486%, #343A40 119.73638212317918%);
}

.refresh {
   padding: 10px;
   position: absolute;
   background: rgba(0, 0, 0, 0.4);
   border-radius: 10px;
   width: 20px;
   height: 20px;
   top: 10px;
   right: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}