@tailwind base;
@tailwind components;
@tailwind utilities;


body {
   background-color: #1e2125;
   overflow: auto;

}

nav {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   width: 100vw;

}

.background {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   width: 100%;
   background: #f5efe5;
   z-index: 10;
   position: fixed;

}

button {
   outline: none;
   border: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   cursor: pointer;
   position: absolute;
   top: 18px;
   right: 15px;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background: transparent;
   z-index: 15;
   position: fixed;
}

ul,
li {
   margin: 0;
   padding: 0;
}

ul {
   left: 0;
   right: 0;
   margin-left: auto;
   margin-right: auto;
   top: 100px;
   position: fixed;

}

.container-logo {
   background-image: linear-gradient(180deg, #212529 33.81017736486486%, #343A40 180.73638212317918%);

}

.item-logo {

   stroke-linejoin: round;
   stroke-linecap: round;

}

.box-grid-div {
   background: linear-gradient(129deg, rgb(33, 37, 41) 0%, rgb(52, 58, 64) 205%);
}


.my-background {
   background-image: linear-gradient(119deg, #212529 33.81017736486486%, #343A40 119.73638212317918%);
}


.right {
   background: linear-gradient(180deg,
         transparent 30%,
         rgba(0, 255, 255, 0.5),
         rgb(0, 255, 255));
   animation: animateRight 1.5s ease-in infinite;

}

@keyframes animateRight {

   0%,
   25% {
      opacity: 1;
      height: 50%;
      top: -15%;
   }

   50% {
      opacity: 0.3;
      height: 100%;
   }

   55%,
   100% {
      height: 50%;
      opacity: 0;
   }
}

.glow-border {
   -webkit-box-shadow: 0px 0px 88px 25px rgba(216, 230, 226, 0.47);
   -moz-box-shadow: 0px 0px 88px 25px rgba(216, 230, 226, 0.47);
   box-shadow: 0px 0px 88px 25px rgba(216, 230, 226, 0.47);
}

.top-border {
   background: linear-gradient(180deg,
         transparent 30%,
         rgba(0, 255, 255, 0.5),
         rgb(0, 255, 255));
   animation: animateTop 1.5s ease-in infinite;
   animation-delay: 3.6s;
}
.bg-for-skills{
   background: linear-gradient(270deg, rgb(248, 249, 250) 0%, rgb(52, 58, 64) 100%);
}
@keyframes animateTop {
   25% {
      width: 100%;
      opacity: 0.1;
   }

   30%,
   100% {
      opacity: 0;
   }
}
.my-info{
   background: linear-gradient(111deg, rgb(33, 37, 41) 21.5634%, rgb(52, 58, 64) 188.81%);
}